name: "pip install of pyRTE-RRTMGP"

# Run these whenever ...
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**/*'
  push:
    paths-ignore:
      - 'docs/**/*'

jobs:
  pip_install_build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install pyRTE-RRTMGP
        run: |
          cd ${GITHUB_WORKSPACE}/pyrte_rrtmgp
          pip install -v .

      - name: Run Tests
        run: |
          cd ${GITHUB_WORKSPACE}/pyrte_rrtmgp
          pyrte_rrtmgp run_tests
